<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Ivan Pinto Advocacia</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i"
      rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet">
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">

  </head>

  <body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center justify-content-between">
        <a href="index.ejs" class="logo"><img src="/img/logo.png" alt=""
            class="img-fluid"></a>
        <!-- Uncomment below if you prefer to use an text logo -->
        <!-- <h1 class="logo"><a href="index.html">Folio</a></h1> -->

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
            <li><a class="nav-link scrollto" href="#about">Sobre</a></li>
            <li><a class="nav-link scrollto" href="#journal">Atuação</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <div id="hero" class="home">

      <div class="container">
        <div class="hero-content">
          <h1>Ivan Pinto Advocacia</h1>
          <p><span class="typed" data-typed-items="Alta qualificação, Empatia,
              Confiança, Ética"></span></p>

          <ul class="list-unstyled list-social">
            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
            <li><a href="#"><i class="bi bi-instagram"></i></a></li>
            <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
          </ul>

          <p id="aviso"> <i class="bi bi-arrow-down-circle"></i></p>
        </div>
      </div>
    </div><!-- End Hero -->

    <main id="main">

      <!-- ======= About Section ======= -->
      <div id="about" class="paddsection">

        <div class="container space-down">
          <div class="row justify-content-between">

            <div class="col-lg-4">
              <div class="div-img-bg">
                <div class="about-img">
                  <img src="/img/me.jpg" class="img-responsive" alt="me">
                </div>
              </div>
            </div>

            <div class="col-lg-7">
              <div class="about-descr">

                <p class="p-heading">Dr. Ivan Pinto </p>
                <p class="p-heading">OAB/PR 82.617</p>
                <p class="separator">Lorem ipsum dolor, sit amet consectetur
                  adipisicing elit. Ad doloremque iure, ratione ut minima
                  excepturi magni laborum tenetur optio provident hic sed
                  repudiandae, quo labore, nisi eligendi voluptate saepe
                  similique.</p>

              </div>

            </div>
          </div>
        </div>

        <div class="container space-down">
          <div class="row justify-content-between">

            <div class="col-lg-4">
              <div class="div-img-bg">
                <div class="about-img">
                  <img src="/img/me.jpg" class="img-responsive" alt="me">
                </div>
              </div>
            </div>

            <div class="col-lg-7">
              <div class="about-descr">

                <p class="p-heading">Dr. Herlon Kawamura Pinto </p>
                <p class="p-heading">OAB/PR 62.759</p>
                <p class="separator">Lorem ipsum dolor, sit amet consectetur
                  adipisicing elit. Ad doloremque iure, ratione ut minima
                  excepturi magni laborum tenetur optio provident hic sed
                  repudiandae, quo labore, nisi eligendi voluptate saepe
                  similique.</p>

              </div>

            </div>
          </div>
        </div>
      

        <div class="container">
          <div class="row justify-content-between">

            <div class="col-lg-4">
              <div class="div-img-bg">
                <div class="about-img">
                  <img src="/img/me.jpg" class="img-responsive" alt="me">
                </div>
              </div>
            </div>
          

            <div class="col-lg-7">
              <div class="about-descr">

                <p class="p-heading">Dr. Huelton Diniz </p>
                <p class="p-heading">OAB/PR 68.301</p>
                <p class="separator">Lorem ipsum dolor, sit amet consectetur
                  adipisicing elit. Ad doloremque iure, ratione ut minima
                  excepturi magni laborum tenetur optio provident hic sed
                  repudiandae, quo labore, nisi eligendi voluptate saepe
                  similique.</p>

              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- End About Section -->

      <!-- ======= Services Section ======= -->
      <div id="services">
        <div class="container">

          <div class="services-slider swiper" data-aos="fade-up"
            data-aos-delay="100">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <div class="services-block">
                  <i class="bi bi-card-checklist"></i>
                  <span>PROFISSIONAIS ALTAMENTE QUALIFICADOS</span>
                  <p class="separator">Serviços jurídicos de alta qualidade e
                    padrões técnicos, sempre atendendo às necessidades e
                    especificidades de cada área e principalmente de cada
                    cliente. </p>
                </div>
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="services-block">
                  <i class="bi bi-chat-fill"></i>
                  <span>MANTER O CLIENTE INFORMADO</span>
                  <p class="separator">Temos como métrica sempre manter nossos
                    clientes informados sobre o andamento de seu processo,
                    aquela coisa do cliente não saber o que está acontecendo com
                    seu processo não existe para nós. </p>
                </div>
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="services-block">
                  <i class="bi bi-emoji-smile"></i>
                  <span>SATISFAÇÃO DO CLIENTE</span>
                  <p class="separator">Fator considerado como primordial em
                    nosso escritório, convenhamos que quando buscamos por um
                    serviço seja de qual natureza for, queremos ficar
                    satisfeitos com ele, este é nosso compromisso </p>
                </div>
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="services-block">
                  <i class="bi bi-brightness-high"></i>
                  <span>EMPATIA</span>
                  <p class="separator">É a capacidade de sentir o que uma outra
                    pessoa sente caso estivesse na mesma situação, por isso,
                    buscamos resolver com eficiência e assertividade o problema
                    de nossos clientes </p>
                </div>
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="services-block">
                  <i class='bx bx-check-shield' ></i>
                  <span>CONFIANÇA E ÉTICA</span>
                  <p class="separator">Buscamos a cada dia elevar o grau de confiança e a total ética no exercício das atividades,
                     eis que são primordiais para um excelente resultado.</p>
                </div>
              </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
          </div>

        </div>

      </div><!-- End Services Section -->


      <!-- ======= Journal Section ======= -->
      <div id="journal" class="text-left paddsection">

        <div class="container">
          <div class="section-title text-center">
            <h2>ÁREAS DE ATUAÇÃO</h2>
          </div>
        </div>

        <div class="container">
          <div class="journal-block">
            <div class="row">

              <div class="col-lg-4 col-md-6">
                <div class="journal-info">

                  <div class="journal-txt">

                    <h2>CRIMINAL</h2>
                    <p class="separator">A atuação em Direito Criminal abarca as
                      seguintes matérias:
                    </p>
                    <ul>
                      <li>Habeas Corpus</li>
                      <li>Inquérito Policial</li>
                      <li>Crimes contra a Pessoa</li>
                      <li>Crimes de Tráfico de Drogas</li>
                      <li>Crimes contra o Consumidor</li>
                      <li>Crimes de Violência Doméstica e Familiar contra a
                        Mulher</li>
                      <li>Crimes contra o Patrimônio</li>
                      <li>Crimes de Abuso de Autoridade</li>
                      <li>Crime de Racismo / Preconceito </li>
                      <li>Crimes contra a Dignidade Sexual</li>
                      <li>Crimes contra a Honra</li>
                      <li>Crimes contra a Vida – Tribunal do Júri </li>
                      <li>Assistência de acusação</li>

                    </ul>

                  </div>

                </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="journal-info">

                  <div class="journal-txt">

                    <h2>Cível</h2>
                    <p class="separator">A atuação em Direito Cívico abarca as
                      seguintes matérias:
                    </p>
                    <ul>
                      <h6>Família</h6>
                      <ul>

                        <li>Divórcios</li>
                        <li>Inventário, arrolamentos de bens e testamento</li>
                        <li>União estável e sociedades de fato</li>
                        <li>Ação de Alimentos</li>
                        <li>Alienação, Arrendamento ou Oneração de Bens</li>
                        <li>Separação Consensual</li>
                        <li>Separação Judicial e extrajudicial</li>

                      </ul>
                      <h6>Consumidor</h6>
                      <ul>

                        <li>Relações de consumo</li>
                        <li>
                          Ações de desconstituição de cláusula (expressa ou não)
                          de anatocismo (juros sobre juros) em contratos de:
                          <ul>
                            <li>Empréstimos bancários</li>
                            <li>Cheque especial</li>
                            <li>Cartões de crédito</li>
                            <li>Elaboração de contratos </li>
                          </ul>

                        </li>

                      </ul>

                    </ul>

                  </div>

                </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="journal-info">

                  <div class="journal-txt">

                    <h2>Trabalhista</h2>
                    <p class="separator">A atuação em Direito trabalhista abarca
                      as
                      seguintes matérias:
                    </p>
                    <ul>
                      <li>Assessoria e acompanhamento</li>
                      <li>Jurídico em Recursos Humanos</li>
                      <li>Contencioso trabalhista</li>
                      <li>Contratos de trabalho</li>
                      <li>Dano moral por acidente de trabalho</li>
                      <li>Greve</li>
                      <li>Divórcios</li>
                      <li>LER – Lesões por Esforços Repetitivos</li>
                      <li>Participação nos lucros</li>
                      <li>Prevenção de litígio trabalhista</li>
                      <li>Segurança, higiene e Medicina do Trabalho</li>
                      <li>Trabalho temporário</li>
                      <li>Terceirização</li>
                      <li>Verbas salariais </li>
                      <li>Rescisão indireta</li>
                    </ul>

                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>

      </div><!-- End Journal Section -->


      <!-- ======= Counter Section ======= -->

      <div class="section-counter paralax-mf bg-image-counter" style="background-image: url(/img/counters-bg.jpg) ;">
        <div class="overlay-mf"></div>
        <div class="container position-relative">
          <div class="row">

            <div class="col-sm-3 col-lg-3">
              <div class="counter-box counter-box pt-4 pt-md-0">
                <div class="counter-ico">
                  <span class="ico-circle"><i class="bi bi-check"></i></span>
                </div>
                <div class="counter-num">
                  <p data-purecounter-start="0" data-purecounter-end="450" data-purecounter-duration="1" class="counter purecounter"></p>
                  <span class=" counter-text">PROCESSOS TRABALHADOS</span>
                </div>
              </div>
            </div>
  
            <div class="col-sm-3 col-lg-3">
              <div class="counter-box pt-4 pt-md-0">

                <div class="counter-ico">
                  <span class="ico-circle"><i class="bi bi-calendar-range"></i></span>
                </div>

                <div class="counter-num">
                  <p data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="counter purecounter"></p>
                  <span class="   counter-text">ANOS DE EXPÊRIENCIA</span>
                </div>


              </div>



            </div>

            <div class="col-sm-3 col-lg-3">
              <div class="counter-box pt-4 pt-md-0">
                <div class="counter-ico">
                  <span class="ico-circle"><i class="bi bi-people"></i></span>
                </div>
                <div class="counter-num">
                  <p data-purecounter-start="0" data-purecounter-end="550" data-purecounter-duration="1" class="counter purecounter"></p>
                  <span class=" counter-text"> CLIENTES</span>
                </div>
              </div>
            </div>

            <div class="col-sm-3 col-lg-3">
              <div class="counter-box pt-4 pt-md-0">
                <div class="counter-ico">
                  <span class="ico-circle"><i class="bi bi-award"></i></span>
                </div>
                <div class="counter-num">
                  <p data-purecounter-start="0" data-purecounter-end="48" data-purecounter-duration="1" class="counter purecounter"></p>
                  <span class=" counter-text">CAUSAS GANHAS</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>



      <!-- ======= Contact Section ======= -->
      <div id="contact" class="paddsection">
        <div class="container">
          <div class="contact-block1">
            <div class="row">

              <div class="col-lg-6">
                <div id="contato" class="contact-contact">

                  <h2 class="mb-30">Contate-nos</h2>

                  <div class="redes-sociais text-center">

                    <ul class="list-unstyled">
                      <li><a href="#"><i class="size bi bi-facebook"></i></a></li>
                      <li><a href="#"><i class="size bi bi-twitter"></i></a></li>
                      <li><a href="#"><i class="size bi bi-instagram"></i></a></li>
                      <li><a href="#"><i class="size bi bi-linkedin"></i></a></li>
                    </ul>

                  </div>

                  <div>

                    <div class="telefones">
                      <h6 class="titulo"> <i class="bi bi-telephone-fill"> </i>
                        Telefones para contato </h6>
                      <ul>
                        <li> <span> Criminal: (41) 9 9191-7576 </span> </li>
                        <li> <span> Cível e Trabalhista: (41) 9 9958-0042
                          </span>
                        </li>
                      </ul>

                    </div>


                    <div class="endereco">
                      <h6 class="titulo"> <i class="bi bi-geo-alt-fill"></i>
                        Endereço</h6>
                      <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3601.8281074848446!2d-49.25456940000001!3d-25.477414600000007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce4ce3c120ee9%3A0x925865f13a9f72d4!2sR.%20Isa%C3%ADas%20R%C3%A9gis%20de%20Miranda%2C%20507%20-%20Hauer%2C%20Curitiba%20-%20PR%2C%2081630-050!5e0!3m2!1spt-BR!2sbr!4v1653768106166!5m2!1spt-BR!2sbr"
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                      </iframe>
                      <span> Rua Isaias Régis de Miranda, 507, Hauer, CEP
                        81630-050, Curitiba-Paraná </span>
                    </div>

                  </div>
                </div>
              </div>

              <div class="formulario col-lg-6">
                <form action="forms/contact.php" method="post" role="form"
                  class="php-email-form">
                  <div class="row gy-3">

                    <div class="col-lg-6">
                      <div class="form-group contact-block1">
                        <input type="text" name="name" class="form-control"
                          id="name" placeholder="Seu nome" required>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="email" class="form-control" name="email"
                          id="email" placeholder="Seu e-mail" required>
                      </div>
                    </div>

                    <div class="col-lg-12">
                      <div class="form-group">
                        <input type="text" class="form-control" name="subject"
                          id="subject" placeholder="Assunto" required>
                      </div>
                    </div>

                    <div class="col-lg-12">
                      <div class="form-group">
                        <textarea class="form-control" name="message"
                          placeholder="Escreva sua mensagem aqui..." required></textarea>
                      </div>
                    </div>

                    <div class="col-lg-12">
                      <div class="loading">Loading</div>
                      <div class="error-message"></div>
                      <div class="sent-message">Your message has been sent.
                        Thank you!</div>
                    </div>

                    <div class="mt-0">
                      <input type="submit" class="btn btn-defeault btn-send"
                        value="Enviar">
                    </div>

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <div id="footer" class="text-center">
      <div class="container">


        <p>&copy; Copyrights G&F. All rights reserved.</p>

        <div class="credits">

          Designed by <a href="#">G&F</a>
        </div>

      </div>
    </div><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center
      justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/vendor/purecounter/purecounter.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/vendor/typed.js/typed.min.js"></script>
    <script src="/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>

  </body>

</html>