<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Ivan Pinto Advocacia</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/Favicon.png" rel="icon">
    <link href="/img/LogoAppleTouch.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i"
      rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet">
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">

  </head>

  <body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center justify-content-between">
        <a href="index.ejs" class="logo"><img src="/img/LogoPrincipal.png" alt=""
            class="img-fluid"></a>
        <!-- Uncomment below if you prefer to use an text logo -->
        <!-- <h1 class="logo"><a href="index.html">Folio</a></h1> -->

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
            <li><a class="nav-link scrollto" href="#about">Sobre</a></li>
            <li><a class="nav-link scrollto" href="#journal">Atuação</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <div id="hero" class="home">

      <div class="container">
        <div class="hero-content">
          <h1>Ivan Pinto Advocacia</h1>
          <p><span id="nome" class="typed" data-typed-items="Alta qualificação, Empatia,
              Confiança, Ética"></span></p>

          <ul class="list-unstyled list-social">
            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
            <li><a href="#"><i class="bi bi-instagram"></i></a></li>
            <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
          </ul>

          <p id="aviso"> <i class="bi bi-arrow-down-circle"></i></p>
        </div>
      </div>
    </div><!-- End Hero -->

    <main id="main">

         
      <!-- ======= About Section ======= -->
      <div id="about" class="paddsection">

        <div class="container space-down">
          <div class="row justify-content-between">

            <div class="col-lg-4">
              <div class="div-img-bg">
                <div class="about-img">
                  <img src="/img/Foto_Ivan.jpg" class="img-responsive" alt="me">
                </div>
              </div>
            </div>

            <div class="col-lg-7">
              <div class="about-descr">

                <p id='nome' class="p-heading">Dr. Ivan Pinto </p>
                <p id='nome' class="p-heading">OAB/PR 82.617</p>
                <p class="separator">Atuante no Direito do Trabalho e Civil</br>
                sempre em busca de justiça para os nossos clientes.
                </p>

              </div>

            </div>
          </div>
        </div>

        <div class="container space-down">
          <div class="row justify-content-between">

            <div class="col-lg-4">
              <div class="div-img-bg">
                <div class="about-img">
                  <img src="/img/Foto_Herlon.jpg" class="img-responsive" alt="me">
                </div>
              </div>
            </div>

            <div class="col-lg-7">
              <div class="about-descr">

                <p id='nome' class="p-heading">Dr. Herlon Kawamura Pinto </p>
                <p id='nome' class="p-heading">OAB/PR 62.759</p>
                <p class="separator">Atuante no Direito Criminal </br>
                Sempre em busca dos melhores resultados para os nossos clientes.
                </p>

              </div>

            </div>
          </div>
        </div>
      

        <div class="container">
          <div class="row justify-content-between">

            <div class="col-lg-4">
              <div class="div-img-bg">
                <div class="about-img">
                  <img src="/img/Foto_Huelton.jpg" class="img-responsive" alt="me">
                </div>
              </div>
            </div>
          

            <div class="col-lg-7">
              <div class="about-descr">

                <p id='nome' class="p-heading">Dr. Huelton Diniz </p>
                <p id='nome' class="p-heading">OAB/PR 68.301</p>
                <p class="separator">Atuante em Direito Civil e Previdênciário</br>
                Sempre em busca das melhores alternativas para os nossos clientes.
                </p>

              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- End About Section -->

      <!-- ======= Services Section ======= -->
      <div id="services">
        <div class="container">

          <div class="services-slider swiper" data-aos="fade-up"
            data-aos-delay="100">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <div class="services-block">
                  <i class="bi bi-card-checklist"></i>
                  <span>PROFISSIONAIS ALTAMENTE QUALIFICADOS</span>
                  <p class="separator">Serviços jurídicos de alta qualidade e
                    padrões técnicos, sempre atendendo às necessidades e
                    especificidades de cada área e principalmente de cada
                    cliente. </p>
                </div>
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="services-block">
                  <i class="bi bi-chat-fill"></i>
                  <span>MANTER O CLIENTE INFORMADO</span>
                  <p class="separator">Temos como métrica sempre manter nossos
                    clientes informados sobre o andamento de seu processo,
                    aquela coisa do cliente não saber o que está acontecendo com
                    seu processo não existe para nós. </p>
                </div>
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="services-block">
                  <i class="bi bi-emoji-smile"></i>
                  <span>SATISFAÇÃO DO CLIENTE</span>
                  <p class="separator">Fator considerado como primordial em
                    nosso escritório, convenhamos que quando buscamos por um
                    serviço seja de qual natureza for, queremos ficar
                    satisfeitos com ele, este é nosso compromisso </p>
                </div>
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="services-block">
                  <i class="bi bi-brightness-high"></i>
                  <span>EMPATIA</span>
                  <p class="separator">É a capacidade de sentir o que uma outra
                    pessoa sente caso estivesse na mesma situação, por isso,
                    buscamos resolver com eficiência e assertividade o problema
                    de nossos clientes </p>
                </div>
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="services-block">
                  <i class='bx bx-check-shield' ></i>
                  <span>CONFIANÇA E ÉTICA</span>
                  <p class="separator">Buscamos a cada dia elevar o grau de confiança e a total ética no exercício das atividades,
                     eis que são primordiais para um excelente resultado.</p>
                </div>
              </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
          </div>

        </div>

      </div><!-- End Services Section -->

         <!-- ======= Slide Section ======= -->
         <div id="slide">
          <div class="container">
  
            <div class="slider swiper" data-aos="fade-up" data-aos-delay="100">
              
              <div class="swiper-wrapper">
  
                
                <div class="swiper-slide card-slide">
                 
                    <img src="https://media.gazetadopovo.com.br/2021/10/28123538/capa_you-13-960x540.jpg" alt="">
                 
                </div><!-- End testimonial item -->

                <div class="swiper-slide card-slide">
               
                    <img src="https://media.gazetadopovo.com.br/2021/10/28123538/capa_you-13-960x540.jpg" alt="">
          
                </div><!-- End testimonial item -->

                <div class="swiper-slide card-slide">
                  
                    <img src="https://media.gazetadopovo.com.br/2021/10/28123538/capa_you-13-960x540.jpg" alt="">
          
                </div><!-- End testimonial item -->

                <div class="swiper-slide card-slide">
                 
                    <img src="https://media.gazetadopovo.com.br/2021/10/28123538/capa_you-13-960x540.jpg" alt="">
             
                </div><!-- End testimonial item -->

  
              </div>
              <div class="swiper-pagination"></div>
            </div>
  
          </div>
  
  </div><!-- End Slide Section -->


      <!-- ======= Journal Section ======= -->
      <div id="journal" class="text-left paddsection">

        <div class="container">
          <div class="section-title text-center">
            <h2 id="nome">ÁREAS DE ATUAÇÃO</h2>
          </div>
        </div>

        <div class="container">
          <div class="journal-block">
            <div class="row">

              <div class="col-md-4">
                <div class="service-box">
                  <div class="service-ico">
                    <span class="ico-circle"><i class="bi bi-fingerprint"></i></span>
                  </div>

                  <div class="service-content">
                    <h2 class="s-title" id="nome"> Criminal </h2>
                 
                    <p class="separator">A atuação em Direito Criminal abarca as
                      seguintes matérias:
                    </p>
                    <ul>
                      <li>Habeas Corpus</li>
                      <li>Inquérito Policial</li>
                      <li>Crimes contra a Pessoa</li>
                      <li>Crimes de Tráfico de Drogas</li>
                      <li>Crimes contra o Consumidor</li>
                      <li>Crimes de Violência Doméstica e Familiar contra a
                        Mulher</li>
                      <li>Crimes contra o Patrimônio</li>
                      <li>Crimes de Abuso de Autoridade</li>
                      <li>Crime de Racismo / Preconceito </li>
                      <li>Crimes contra a Dignidade Sexual</li>
                      <li>Crimes contra a Honra</li>
                      <li>Crimes contra a Vida – Tribunal do Júri </li>
                      <li>Assistência de acusação</li>
        
                    </ul> 
                  </div>
                </div>

              </div>

              <div class="col-md-4">
                <div class="service-box">
                  <div class="service-ico">
                    <span class="ico-circle"><i class="bi bi-person-circle"></i></span>
                  </div>

                  <div class="service-content">
                    <h2 class="s-title" id="nome"> Civil </h2>
                    <p class="separator">A atuação em Direito Civil abarca as
                      seguintes matérias:
                    </p>
                
                      <h6>Família</h6>
                      <ul>
        
                        <li>Divórcios</li>
                        <li>Inventário, arrolamentos de bens e testamento</li>
                        <li>União estável e sociedades de fato</li>
                        <li>Ação de Alimentos</li>
                        <li>Alienação, Arrendamento ou Oneração de Bens</li>
                        <li>Separação Consensual</li>
                        <li>Separação Judicial e extrajudicial</li>
        
                      </ul>
                      <h6>Consumidor</h6>
                      <ul>
        
                        <li>Relações de consumo</li>
                        <li>
                          Ações de desconstituição de cláusula (expressa ou não)
                          de anatocismo (juros sobre juros) em contratos de:
                          <ul>
                            <li>Empréstimos bancários</li>
                            <li>Cheque especial</li>
                            <li>Cartões de crédito</li>
                            <li>Elaboração de contratos </li>
                          </ul>
        
                        </li>
        
                      </ul>
        
                
                 
                  </div>
                </div>

              </div>


              <div class="col-md-4">
                <div class="service-box">
                  <div class="service-ico">
                    <span class="ico-circle"><i class="bi bi-briefcase"></i></span>
                  </div>

                  <div class="service-content">
                    <h2 class="s-title" id="nome"> Trabalhista</h2>
                    <p class="separator">A atuação em Direito trabalhista abarca
                      as
                      seguintes matérias:
                    </p>
                    <ul>
                      <li>Assessoria e acompanhamento</li>
                      <li>Jurídico em Recursos Humanos</li>
                      <li>Contencioso trabalhista</li>
                      <li>Contratos de trabalho</li>
                      <li>Dano moral por acidente de trabalho</li>
                      <li>Greve</li>
                      <li>Divórcios</li>
                      <li>LER – Lesões por Esforços Repetitivos</li>
                      <li>Participação nos lucros</li>
                      <li>Prevenção de litígio trabalhista</li>
                      <li>Segurança, higiene e Medicina do Trabalho</li>
                      <li>Trabalho temporário</li>
                      <li>Terceirização</li>
                      <li>Verbas salariais </li>
                      <li>Rescisão indireta</li>
                    </ul>
                 
                  </div>
                </div>

              </div>


            </div>
          </div>
        </div>

      </div><!-- End Journal Section -->

      <!-- ======= Contact Section ======= -->
      <div id="contact" class="paddsection">
        <div class="container">
          <div class="section-title">
            <h1> Contate-nos</h1>
          </div>

          <div class="row mt-2">

            <div class="col-md-6 mt-4 d-flex align-items-stretch">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3>Endereço</h3>
                <p>  Rua Isaias Régis de Miranda, 507, Hauer, CEP 81630-050, Curitiba-Paraná</p>
              </div>
            </div>

            <div class="col-md-6 mt-4 d-flex align-items-stretch">
              <div class="info-box">
                <i class="bx bx-envelope"></i>
                <h3>E-mail para contato</h3>
                <p>ivan@ipadvocacia.com.br</p>
                <p>herlon@ipadvocacia.com.br</p>
                <p>huelton@ipadvocacia.com.br</p>
              </div>
            </div>

            <div class="col-md-6 mt-4 d-flex align-items-stretch">
              <div class="info-box">
                <i class="bx bx-share-alt"></i>
                <h3>Redes sociais</h3>
                <div class="social-links">
                  <a href="#" id="redesSociais" class="facebook"><i id="redesSociais" class="bi bi-facebook"></i></a>
                  <a href="#" id="redesSociais" class="instagram"><i id="redesSociais" class="bi bi-instagram"></i></a>
                  <a href="#" id="redesSociais" class="google-plus"><i id="redesSociais" class="bi bi-skype"></i></a>
                  <a href="#" id="redesSociais" class="linkedin"><i id="redesSociais" class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>

            <div class="col-md-6 mt-4 d-flex align-items-stretch">
              <div class="info-box">
                <i class="bx bx-phone-call"></i>
                <h3>Entre em contato</h3>
                <p>Criminal: (41) 99191-7576</p>
                <p>Civil e Trabalhista: (41) 99958-0042</p>
              </div>
            </div>
          </div>


          </div>

          <div class="formulario col-lg-6">
            <form action="/send" method="post" role="form">
              <div class="row gy-3">

                <div class="col-lg-6">
                  <div class="form-group contact-block1">
                    <input type="text" name="name" id="name" class="white form-control"
                      id="name" placeholder="Seu nome" required>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="email" class= " white form-control" name="email" id="email"
                      id="email" placeholder="Seu e-mail" required>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <!-- <input type="text" class="form-control white " name="subject" id="subject"
                      id="subject" placeholder="Assunto" required> -->
                      <select class="form-control white " name="atuacao" id="atuacao" required>
                        <option value="" disabled selected>Selecione uma especialidade...</option>
                        <option value="civel">Direito Civil</option>
                        <option value="criminal">Direito Criminal</option>
                        <option value="previdenciario">Direito Previdenciário</option>
                        <option value="trabalhista">Direito Trabalhista</option>
                      </select> 
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <textarea class="white form-control" name="message" id="message"
                      placeholder="Escreva sua mensagem aqui..." required></textarea>
                  </div>
                </div>

                <!-- <div id='alerta' class="col-lg-12">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
               <div class="sent-message">Your message has been sent.
                    Thank you!</div>
                </div> -->

                <div class="mt-0">
                  <input type="submit" class="btn btn-defeault btn-send"
                    value="Enviar">
                </div>

              </div>
            </form>
          </div>

        </div>
      </div><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <div id="footer" class="text-center">
      <div class="container">


        <p>&copy; Copyrights Ivan Pinto Advocacia. Todos os direitos reservados.</p>

        <div class="credits">

          Editado por <a href="https://www.instagram.com/fredyycarneiro/">Fredyy Carneiro</a> e <a href="https://www.instagram.com/mattoso_guilherme/">Guilherme Mattoso</a>
        </div>

      </div>
    </div><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center
      justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/vendor/purecounter/purecounter.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/vendor/typed.js/typed.min.js"></script>
    <script src="/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>

  </body>

</html>